In [1]:
#Módulo 01 - Começando em Python
#Video 01 - Diferenças entre Python para Data Science e para Desenvolvimento de Sistemas
#Video 02 - Instalando Python no Mac
#Video 03 - Instalando Python no Windows
#Video 04 - Instalando Python no Linux

In [2]:
#Modulo 03 - As Estruturas de Dados em Python
#Video 01 - Dataframe, List, Dicionário, Json, Series, 
#Video 02 - Formato dos Dados ( Num, Objct, Date, Pickle )
#Video 03 - Transformação dos Formatos dos Dados

# Modulo 03 - As Estruturas de Dados em Python

## Vídeo 01 - Tipos Mais Comuns de Estruturas de Dados

In [49]:
import pandas as pd
import json

In [8]:
!ls -l ../SejaUmDataScientist/brazilian-ecommerce

total 246408
-rw-rw-r--@ 1 meigarom  staff   9033957 Oct  6  2019 olist_customers_dataset.csv
-rw-rw-r--@ 1 meigarom  staff  61273883 Oct  6  2019 olist_geolocation_dataset.csv
-rw-rw-r--@ 1 meigarom  staff  15438671 Oct  6  2019 olist_order_items_dataset.csv
-rw-rw-r--@ 1 meigarom  staff   5777138 Oct  6  2019 olist_order_payments_dataset.csv
-rw-rw-r--@ 1 meigarom  staff  14409007 Oct  6  2019 olist_order_reviews_dataset.csv
-rw-rw-r--@ 1 meigarom  staff  17654914 Oct  6  2019 olist_orders_dataset.csv
-rw-rw-r--@ 1 meigarom  staff   2379446 Oct  6  2019 olist_products_dataset.csv
-rw-rw-r--@ 1 meigarom  staff    174703 Oct  6  2019 olist_sellers_dataset.csv
-rw-rw-r--@ 1 meigarom  staff      2613 Oct  6  2019 product_category_name_translation.csv

### Dataframe

In [82]:
df_raw = pd.read_csv( '../SejaUmDataScientist/brazilian-ecommerce/olist_order_reviews_dataset.csv' )

In [83]:
df_raw.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [53]:
# Commands
df_raw.shape

(112650, 7)

### List

In [18]:
# unique type
l1 = ['banana', 'pera', 'uva']

# multiple type
l2 = ['banana', 'pera', 'uva', 3, 4, 2, 1]

#### Example:

In [31]:
def metrics( df ):
    return df['price'].sample()

In [39]:
# Example
s_list = []
for i in range( 0, 5 ):
    s = metrics( df1 )
    s_list.append( s.values[0] )

In [40]:
s_list

[49.0, 27.99, 100.0, 19.9, 9.9]

### Dictionary

In [ ]:
d = {'key': valor}

#### Example:

In [ ]:
df_raw['product_category_name'].drop_duplicates()

In [95]:
# Construir DataFrames
data = {'nome': 'Meigarom', 'sobrenome': 'Lopes', 'tempo_de_experiencia': 4}
df = pd.DataFrame( data, index=[0] )

# Substituir valores
df2 = df_raw[['review_id', 'review_score']]
rep = { 1: 'One Star', 2: 'Two Stars', 3: 'Three Stars', 4: 'Four Stars', 5:'Five Start' }

df2.loc[:,'review_score'] = df2.loc[:,'review_score'].map( rep )

# Construir Json
d = {'Key1': [1,2,3], 'Key2': [4,5,6] }
json.dumps( d )

'{"Key1": [1, 2, 3], "Key2": [4, 5, 6]}'

### Pickle

## Vídeo 02 - Os Formatos de Dados

In [96]:
# Numerico   - Int e Float
# Categorico - Object
# Data       - Date